/*Global Styles*/
body.theme__light {
  --bg-primary: #FFFFFF; /*White*/
  --bg-secondary: #F5F7FF; /*Light grey*/
  --bg-tertiary: #F0F2FA; /*Medium light grey*/
  --text-primary: #63687E; /*Grey blue*/
  --text-secondary: #AEB3CB; /*Medium grey*/
  --heading-primary: #1E202A; /*Very Dark blue*/
}
body.theme__dark {
  --bg-primary: #1E202A; /*Very Dark blue*/
  --bg-secondary: #1F212E; /*Dark blue*/
  --bg-tertiary: #252A41; /*Medium blue*/
  --text-primary: #8B97C6; /*Grey blue*/
  --text-secondary: #8B97C6; /*Grey blue*/
  --heading-primary: #FFFFFF; /*White*/
}

body {
  position: relative;
  background-color: var(--bg-primary);
  font-family: var(--main-font);
}
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--bg-secondary);
  top: 0;
  width: 100vw;
  height: 30vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*Font Styling*/
h1 {
  font-weight: 700;
  font-size: 1.75rem;
  color: var(--heading-primary);
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--text-primary);
  padding: 0px 15px;
}

.dashboard__title, .dashboard__title--small {
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--text-primary);
}
.dashboard__title--small {
  font-size: 0.75rem;
}

.dashboard__stats, .dashboard__stats--small {
  font-weight: 700;
  font-size: 3.1875rem;
  color: var(--heading-primary);
}
.dashboard__stats--small {
  font-size: 1.75rem;
}

.stats__down {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--stats-down);
  padding-top: 25px;
}
.stats__down::before {
  content: url("img/icon-down.svg");
  padding-right: 3px;
}
.stats__up {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--stats-up);
  padding-top: 25px;
}
.stats__up::before {
  content: url("img/icon-up.svg");
  padding-right: 3px;
}

.dashboard__followers {
  letter-spacing: 0.3rem;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: var(--text-primary);
}

.toggle__text {
  color: var(--text-secondary);
  font-weight: 700;
  padding-right: 10px;
  vertical-align: -webkit-baseline-middle;
}

/*Header*/
header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
@media all and (min-width: 782px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media all and (max-width: 781px) {
  .theme-toggle__holder {
    padding-top: 20px;
    border-top: solid 1px var(--text-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*Toggle Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  background-color: var(--toggle-light);
  transition: 0.4s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 34px;
}
.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  right: 4px;
  bottom: 4px;
  background-color: var(--bg-primary);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: var(--toggle-dark);
}

input:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(-26px);
  transform: translateX(-26px);
}

/*Dashboard Section*/
.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.stats-boxes__holder, .overview-boxes__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stats__box {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-tertiary);
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  width: 100%;
}
@media all and (min-width: 782px) {
  .stats__box {
    max-width: 255px;
  }
}

.overview__box {
  background-color: var(--bg-tertiary);
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  width: 100%;
  max-width: 350px;
}
@media all and (min-width: 782px) {
  .overview__box {
    max-width: 255px;
  }
}
.overview__box--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview__box--stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
